<h1>Pages#superman</h1>

<div id="superman" style="height: 200px;width: auto;position:absolute;width: 400px;">


<h3 style="color:white;position:relative;top:40%;left: 50%;"> This looks like a job for Superman </h3>
</div>


<script>
 $("#superman").backstretch("<%= asset_path 'superman.jpg' %>");
</script>